<div name="widget-holder">
    <script type="text/javascript"
        src="https://www.linkedin.com/mjobs/awli/awliWidget">
    </script>
    <script type="IN/AwliWidget"
        data-company-job-code="{UniqueJobCode}"
        data-integration-context="urn:li:organization:{id}"
        /*  the value inputted here is retrieved from the
            customer configuration widget (for ATS partners) */
        data-mode="BUTTON_DATA"
        data-callback-method="onProfileData"
        data-api-key="{API key}"
        data-allow-sign-in="true">
    </script>
</div>
